body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.img-dulces{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.img-card{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 3/4;
}

.card{
     overflow: hidden;
}



